---
import Layout from '../../layouts/default.astro';

export const prerender = false;

const user = await Astro.locals.currentUser();
---

<Layout>
	{user ? (
		<h1>Dashboard</h1>
		<p>Logged in as {user.firstName} {user.lastName}.</p>
		<img src={user.imageUrl} alt=`${user.firstName} ${user.lastName}` />

		<h2>Become a supporter</h2>
		<form action="/api/stripe/checkout" method="POST">
			<input type="hidden" name="priceId" value="price_1PaiAnJ4VGTQR05OcgOnDj5V" />
			<button>Become a Boop Enthusiast for $5/month</button>
		</form>

		<form action="/api/stripe/checkout" method="POST">
			<input type="hidden" name="priceId" value="price_1PaiBLJ4VGTQR05OVmqMyX7O" />
			<button>Become a Boop Connoisseur for $20/month</button>
		</form>
	) : null}
</Layout>
