---
import { getSeries } from '../../db/interface';
import Layout from '../layouts/default.astro';

const series = await getSeries();
---

<Layout>
	<h1>Netflix-style app</h1>
	<section class="series-list">
		{
			series.map((series) => {
				return (
					<div class="series">
						<a
							href={`/series/${series.fields.slug}/${series.resources.at(0).fields.slug}`}
						>
							<img src={series.fields.banner_image} alt={series.fields.title} />
						</a>
						<h2>
							<a
								href={`/series/${series.fields.slug}/${series.resources.at(0).fields.slug}`}
							>
								{series.fields.title}
							</a>
						</h2>
					</div>
				);
			})
		}
	</section>
</Layout>
