---
import { Image } from '@unpic/astro';
import { getSeries } from '../../db/interface';
import Layout from '../layouts/default.astro';

export const prerender = false;

const series = await getSeries();
---

<Layout>
	<section class="series-list">
		{
			series.map((series) => {
				return (
					<div class="series">
						<a
							href={`/series/${series.fields.slug}/${series.resources.at(0).fields.slug}`}
						>
							<Image
								src={series.fields.banner_image}
								alt={series.fields.title}
								aspectRatio={16 / 9}
								layout="fullWidth"
							/>
						</a>
						<h2>
							<a
								href={`/series/${series.fields.slug}/${series.resources.at(0).fields.slug}`}
							>
								{series.fields.title}
							</a>
						</h2>
					</div>
				);
			})
		}
	</section>
</Layout>
