---
import { Image } from '@unpic/astro';
import Logo from '../components/logo.astro';
import '../styles/global.css';

const nav = [
	{ path: '#watch', label: 'Watch' },
	{ path: '#upcoming', label: 'Upcoming' },
	{ path: '#blog', label: 'Blog' },
	{ path: '#newsletter', label: 'Newsletter' },
	{ path: '#partners', label: 'Partners' },
	{ path: '#search', label: 'Search' },
];

const user = await Astro.locals.currentUser();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<div>
				<a href="/" rel="home" class="logo">
					<Logo />
				</a>

				<div class="account">
					{
						user ? (
							<a href="/dashboard">
								Manage your profile
								<Image
									src={user.imageUrl}
									alt={user.fullName}
									aspectRatio={1}
									width={60}
									layout="fixed"
									unstyled
								/>
							</a>
						) : (
							<>
								<a href="/dashboard/sign-in">Sign In</a>
								<a href="/dashboard/sign-up">Create Account</a>
							</>
						)
					}
				</div>

				<nav>
					{nav.map(({ path, label }) => <a href={path}>{label}</a>)}
				</nav>
			</div>
		</header>
		<slot />
	</body>
</html>

<style>
	header {
		inline-size: 100dvi;
		inset-block-start: 0;
		margin: 0;
		position: sticky;
		z-index: 100;

		> div {
			backdrop-filter: blur(2rem) saturate(120%);
			display: grid;
			gap: 0.5rem;
			grid-template-areas:
				'logo account'
				'logo nav';
			justify-content: space-between;

			/*
			 * Linear-style glass optical effect, credited to Jamie Gray by Artur Bién
			 * @see https://twitter.com/artur_bien/status/1707130118391370234
			 */
			margin-block-end: -100px;
			mask-image: linear-gradient(
				to bottom,
				black 0,
				black calc(100% - 100px),
				transparent calc(100% - 100px),
				transparent
			);
			padding: 0.75rem max((100dvi - 1080px) / 2, 5dvi) calc(0.75rem + 100px);

			.logo {
				grid-area: logo;

				svg {
					block-size: 82px;
					display: block;
					inline-size: 259px;
				}
			}

			.account {
				align-self: end;
				grid-area: account;

				a {
					align-items: center;
					backdrop-filter: blur(1rem);
					background: color-mix(in oklch, var(--gray-600) 60%, transparent);
					border: 1px solid color-mix(in oklch, var(--white) 15%, transparent);
					border-radius: 2.5rem;
					box-shadow: 0 1px 2px
						color-mix(in oklch, var(--gray-500) 80%, transparent);
					color: var(--white);
					display: flex;
					font-size: 0.625rem;
					gap: 0.5rem;
					inline-size: max-content;
					letter-spacing: 0.1em;
					margin-inline-start: auto;
					padding: 0.125rem 1.625rem;
					text-decoration: none;
					text-shadow: 0 1px 2px
						color-mix(in oklch, var(--gray-500) 80%, transparent);
					text-transform: lowercase;
				}

				img {
					aspect-ratio: 1;
					block-size: auto;
					border: 1px solid var(--gray-000);
					border-radius: 50%;
					display: inline-block;
					inline-size: 1.625rem;
					object-fit: cover;
				}
			}

			nav {
				grid-area: nav;

				align-items: center;
				backdrop-filter: blur(1rem);
				background: color-mix(in oklch, var(--gray-400) 60%, transparent);
				border: 1px solid color-mix(in oklch, var(--white) 15%, transparent);
				border-radius: 2.5rem;
				box-shadow: 0 1px 2px
					color-mix(in oklch, var(--gray-500) 80%, transparent);
				color: var(--white);
				display: flex;
				font-family: mallory-medium;
				font-size: 0.875rem;
				gap: 0.5rem;
				inline-size: max-content;
				letter-spacing: 0.1em;
				padding: 0.5rem 1.625rem;
				text-transform: uppercase;

				a {
					color: var(--white);
					display: block;
					line-height: 1.1;
					text-decoration: none;
				}
			}
		}
	}
</style>
